In [38]:
from ucimlrepo import fetch_ucirepo
import pandas as pd
from time import time
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# fetch dataset
online_retail = fetch_ucirepo(id=352)

In [5]:
df_old = pd.DataFrame(online_retail.data.original)

In [59]:
df_old.StockCode.describe()

count     541909
unique      4070
top       85123A
freq        2313
Name: StockCode, dtype: object

In [14]:
df_old.Description.isnull().values.sum()

np.int64(0)

In [15]:
df_old.Description = df_old.Description.fillna("other")

In [16]:
df_old.StockCode.unique()

array(['85123A', '71053', '84406B', ..., '90214U', '47591b', '23843'],
      shape=(4070,), dtype=object)

In [17]:
df_old.StockCode.unique()[:100]

array(['85123A', '71053', '84406B', '84029G', '84029E', '22752', '21730',
       '22633', '22632', '84879', '22745', '22748', '22749', '22310',
       '84969', '22623', '22622', '21754', '21755', '21777', '48187',
       '22960', '22913', '22912', '22914', '21756', '22728', '22727',
       '22726', '21724', '21883', '10002', '21791', '21035', '22326',
       '22629', '22659', '22631', '22661', '21731', '22900', '21913',
       '22540', '22544', '22492', 'POST', '22086', '20679', '37370',
       '21871', '21071', '21068', '82483', '82486', '82482', '82494L',
       '21258', '22114', '21733', '22386', '85099C', '21033', '20723',
       '84997B', '84997C', '21094', '20725', '21559', '22352', '21212',
       '21975', '21977', '84991', '84519A', '85183B', '85071B', '21931',
       '21929', '22961', '22139', '84854', '22411', '82567', '21672',
       '22774', '22771', '71270', '22262', '22637', '21934', '21169',
       '21166', '21175', '37444A', '37444C', '22083', '84971S', '47580',
       '22261', '84832'], dtype=object)

In [31]:
# df_new = df_old[df_old.StockCode.isin(df_old.StockCode.unique()[:100])]
df_new = df_old

In [21]:
df_old[df_old.InvoiceNo == '536366'].StockCode.values

array(['22633', '22632'], dtype=object)

In [50]:
df_old

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [32]:
%%time

transactions = []

for idx in df_new.InvoiceNo.unique():
    if len(df_new[df_new.InvoiceNo == idx].Description.values) > 50:
        transaction = df_new[df_new.InvoiceNo == idx].Description.values
        transactions.append(transaction)

CPU times: user 9min 45s, sys: 66.7 ms, total: 9min 45s
Wall time: 9min 45s

In [33]:
with open('transcations_names_all_min50.npy', 'wb') as f:
    np.save(f, np.asarray(transactions, dtype="object"), allow_pickle=True)

In [56]:
with open('data/transcations_names_all_min50.npy', 'rb') as f:
    df = np.load(f, allow_pickle=True)

len(df)

2256

In [ ]:
# python main.py -f "data/transcations.npy" -s 0.5 -c 0.5
# python main.py -f "data/transcations.npy" -s 0.05 -c 0.05
# s = [189.21, 167.74]

In [60]:
import csv

with open('data/transcations.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for idx in df_old.InvoiceNo.unique():
        transaction = df_old[df_old.InvoiceNo == idx].Description.values
        
    
        writer.writerow(transaction)